<%= render 'customers/header' %>
<div class='container'>
  <h3>注文内容を確認・変更</h3>
    <div class='card'>
      <div class='row'>
        <div class=col-md-5>
          <h4>配送先</h4>
          <%= @order.shipping_address %>
          </div>
        <div class=col-md-5>
          <h4>支払い方法</h4>
          <%= @order.payment %>
        </div>
        <div class=col-md-2>
          <div class='card'>
            <h3>ご請求金額 ¥<%= @order.total_amount %></h3>
          </div>
        </div>
      </div>
    </div>
    <% current_customer.carts.each do |cart| %>
       <div class='card'>
          <div class="row">
            <div class="col-md-3">
              <% cart.product.jakets.each do |jaket| %>
                <%= attachment_image_tag jaket, :image, :fill, 200, 200, class:"product-image" %>
              <% end %>
            </div>
            <div class="col-md-6">
              <h3 class='title-format'>【CD<%= cart.product.format%>】<br/>
                <%= cart.product.title %>
              </h3>
              <div class='artist-name'>
                <% cart.product.artists.each do |artist| %>
                  <p>アーティスト:<%= artist.artist_name %></p>
                <% end %>
              </div>
              <div class='quantity'>
                個数: <%= cart.quantity %>個
              </div>
              <div class='subtotal_amount'>
                小計: ¥<%= @order.subtotal_amount %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
</div>
