<%= render 'customers/header' %>

  <div class="container">
    <h1>ショッピングカート</h1>
      <% @carts.each do |cart| %>
      <% current_customer.products.each do |product| %>
        <div class='card top'>
          <div class="row top">
            <div class="col-md-3">
              <% product.jakets.each do |jaket| %>
                <%= attachment_image_tag jaket, :image, :fill, 200, 200, class:"product-image" %>
              <% end %>
            </div>
            <div class="col-md-6">
              <h3 class='title-format'>【CD<%= product.format%>】<br/>
                <%= product.title %>
              </h3>
              <div class='artist-name'>
                <% product.artists.each do |artist| %>
                  <p>アーティスト:<%= artist.artist_name %></p>
                <% end %>
               </div>
            </div>
            <div class="col-md-3">
              <div class='card price-status'>
                <p class="price-top">価格(税込) ¥<%= (product.price * 1.08).to_i %></p>
                <div class='product-number'>
                  <%= form_for cart, url: customer_cart_path(current_customer, cart) do |f| %>
                    個数:<%= f.number_field :quantity, class: "quantity-num" %>
                    <%= f.submit "更新", class: "quantity-btn"%>
                  <% end %>
                </div>
                <div class='action'>
                  <%= link_to 'カートから削除', customer_cart_path(current_customer.id, cart.id), method: :delete%>
                </div>
              </div>
              <div class="price-total">
                商品小計（税込)：
                <span class="cart-price-value">
                     <% @price = (product.price * 1.08).to_i * cart.quantity.to_i %>
                ¥<%= @price %>
                </span>
              </div>
            </div>
          </div>
        </div></br>
      <% end %>
      <% end %>
      <% if @carts.present? %>
      <div class='buy-cds'>
        <%= link_to '購入手続きに進む', orders_new_path, class:'btn btn-danger'%>
      </div>
      <div class='continue-shopping'>
        <%= link_to 'ショッピングを続ける', root_path, class:'btn btn-info' %>
      </div>
      <% else %>
      <div class='card'>
        <h2>カートが空です</h2>
      </div>
      <div class='shopping'>
        <%= link_to 'ショッピングをする', root_path, class: 'btn btn-danger'%>
      </div>
      <% end %>
  </div>
