<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav class="nav navbar-nav nav-left">
      <span class="Timemachine">Timemachine</span>
    </nav>
    <nav>
      <ul class="nav navbar-right">
        <% if customer_signed_in? %>
          <li class="item">
            <%= link_to '　店舗情報　', shops_show_path %>
          </li>
          <li class="item">
            <%= link_to '　ショッピングカート　', cart_path(current_customer) %>
          </li>
          <li class="item">
            <%= link_to '　マイページ　', customer_path(current_customer) %>
          </li>
          <li class="item">
            <%= link_to "　ログアウト　", destroy_customer_session_path %>
          </li>
        <% else %>
          <li class="item">
            <%= link_to '　店舗情報　', shops_show_path %>
          </li>
          <li class="item">
            <%= link_to '　会員登録　', new_customer_registration_path %>
          </li>
          <li class="item">
            <%= link_to "　ログイン　", new_customer_session_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
