<%= render 'header' %>

<%= form_for(@customer) do |f| %>

  <div class="field">
    <%= f.label :first_name, '姓'%><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
  </div>

  <div class="field">
    <%= f.label :last_name, '名' %><br />
    <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :first_name_kana, 'セイ' %><br />
    <%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana" %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana, 'メイ' %><br />
    <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana" %>
  </div>

  <div class="field">
    <%= f.label :tell, '電話番号' %><br />
    <%= f.telephone_field :tell, autofocus: true, autocomplete: "tell" %>
  </div>

  <div class="field">
    <%= f.label :birthday, '誕生日' %><br />
    <%= f.date_field :birthday, autofocus: true, autocomplete: "last_name" %>
  </div>

  <div class="field">
    <%= f.label :customer_postal_code, '郵便番号' %><br />
    <%= f.text_field :customer_postal_code, autofocus: true, autocomplete: "customer_postal_code" %>
  </div>


  <div class="field">
    <%= f.label :customer_prefecture, '都道府県' %><br />
    <%= f.text_field :customer_prefecture, autofocus: true, autocomplete: "customer_prefecture" %>
  </div>

  <div class="field">
    <%= f.label :customer_city, '市区町村' %><br />
    <%= f.text_field :customer_city, autofocus: true, autocomplete: "customer_city" %>
  </div>

  <div class="field">
    <%= f.label :customer_street_address, '町名・番地' %><br />
    <%= f.text_field :customer_street_address, autofocus: true, autocomplete: "customer_street_address" %>
  </div>

  <div class="field">
    <%= f.label :customer_building_name, 'ビル・マンション名' %><br />
    <%= f.text_field :customer_building_name, autofocus: true, autocomplete: "customer_building_name" %>
  </div>

<div class="actions">
  <%= f.submit "更新" %>
</div>

<% end %>
