<%= render 'customers/header' %>

<div class='container'>
  <div class='card-deck'>
    <% @products.each do |product| %>
    <% product.jakets.each do |jaket| %>
    <div class="card" style="width: 20rem;">
      <%= attachment_image_tag jaket, :image, class:"card-img-top" %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= product.title %></h4>
        <% product.artists.each do |artist| %>
        <p class='card-text'><%= artist.artist_name %></p>
        <% end %>
        <p class="card-text">¥<%= product.price %></p>
        <%= form_for(@cart) do |f| %>
          <%= f.hidden_field :quantity, value: 1 %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.submit "カートに入れる", class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
    <% end %>
 </div>
</div>
