<%= render 'customers/header' %>

<div class='container'>
  <div class='card-deck'>
    <% @products.each do |product| %>
    <%= link_to product_path(product.id) do %>
    <% product.jakets.each do |jaket| %>
    <div class="card" style="width: 20rem;">
      <%= attachment_image_tag jaket, :image, class:"card-img-top" %>
      <% end %>
      <div class="card-body">
        <h4 class="card-title"><%= product.title %></h4>
        <% product.artists.each do |artist| %>
        <p class='card-text'><%= artist.artist_name %></p>
        <% end %>
        <p class="card-text">¥<%= (product.price * 1.08).to_i %></p>
      </div>
    </div>
    <% end %>
    <% end %>
    <%= paginate @products, class: "paginate" %>
 </div>
</div>
