<%= render 'admins/header' %>

<div class='container'>
  <div class='row'>
    <table class='table table-bordered'>
      <thead class="thead-dark">
        <tr>
          <th>商品番号</th>
          <th>CDタイトル</th>
          <th>在庫数</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td><%= link_to product.id, admins_product_path(product.id) %></td>
          <td><%= product.title %></td>
          <td><%= product.stock %>個</td>
          <td><%= product.status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    </div>
  </div>
</div>
